.image-slider {
  width: 100%;
  height: 255px;
  margin-top: 27px;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: center;
  @media #{$lg-layout} {
    height: 415px;
    border-radius: 25px;
  }
  &:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    @include bg-shadow-gradient;
  }
  .slider-nav {
    display: flex;
    width: 100%;
    height: 100%;
    .arrow {
      position: absolute;
      width: 24px;
      height: 24px;
      opacity: 0.87;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 50%;
      z-index: 1;
      @media #{$lg-layout} {
        width: 120px;
        height: 96px;
      }
      cursor: pointer;
      &.right-arrow {
        right: 0;
        transform: translate(0, -50%) rotate(-90deg);
      }
      &.left-arrow {
        left: 0;
        transform: translate(0, -50%) rotate(90deg);
      }
    }
    .slide-counter {
      width: 100%;
      margin-block: auto 25px;
      z-index: 1;
      opacity: 0;
      user-select: none;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      @media #{$lg-layout} {
        opacity: 0.87;
      }
    }
  }
}
