.kasa-user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  max-width: 200px;
  @media #{$lg-layout} {
    font-size: 18px;
  }
  .user-name {
    text-align: right;
    word-spacing: 100px;
  }
  .user-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    @media #{$lg-layout} {
      height: 64px;
      width: 64px;
    }
  }
}
