@import "./variables.scss";

.kasa-house-list {
  display: grid;
  grid: auto / 1fr;
  gap: 20px;
  @media #{$md-layout} {
    padding: 28px 25px;
    border-radius: 20px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: #{$kasa-grey};
    grid: auto / 1fr 1fr;
  }
  @media #{$xxl-layout} {
    padding: 56px 50px;
    column-gap: 60px;
    row-gap: 50px;
    grid: auto / 1fr 1fr 1fr;
  }
}
