/**
    Variables for Kasa website
*/

// Colors
$main-color: #ff6060;

// Media Queries
$sm-layout: "(min-width: 576px)";
$md-layout: "(min-width: 768px)";
$lg-layout: "(min-width: 992px)";
$xl-layout: "(min-width: 1200px)";
$xxl-layout: "(min-width: 1400px)";
