.kasa-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.kasa-header img {
  max-width: 145px;
  max-height: 47px;
}

.kasa-header-nav {
  display: flex;
  margin-left: auto;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 142.6%;
}

.kasa-header-nav a {
  color: #ff6060;
}

@media (min-width: 1200px) {
  .kasa-header {
    margin-top: 40px;
  }
  .kasa-header img {
    max-width: 210px;
    max-height: 68px;
  }
  .kasa-header-nav {
    gap: 57px;
    text-transform: capitalize;
    font-size: 24px;
  }
}
